<meta property="og:title" content="GradesMate" />
<meta property="og:site_name" content="GradesMate" />
<meta property="og:url" content="" />
<meta
    property="og:description"
    content="Stressed? Let us take care of your assignments.'"
/>
<meta property="og:type" content="website" />
<meta
    property="og:image"
    content="https://3.files.edl.io/25f3/20/04/10/180703-6f31c2bb-0880-4afc-8faf-7f41e195aee2.png"
/>
<meta charset="UTF-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link
    rel="icon"
    href="https://3.files.edl.io/25f3/20/04/10/180703-6f31c2bb-0880-4afc-8faf-7f41e195aee2.png"
/>

<title>GradesMate</title>

<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/navbar.css" />

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->

<!--<script src="/socket.io/socket.io.js"></script>-->
