<meta property="og:title" content="Totally Science" />
<meta property="og:site_name" content="Totally Science" />
<meta property="og:url" content="" />
<meta
    property="og:description"
    content="The best place for 'Learning Science!'"
/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://totallyscience.co/images/logo.png" />
<meta charset="UTF-8" />

<link rel="icon" href="images/logo.png" />

<title>Homework Solutions</title>

<link rel="stylesheet" href="styles/main.css" />
<link rel="stylesheet" href="styles/navbar.css" />
<script src="scripts/main.js"></script>

<!--<script src="/socket.io/socket.io.js"></script>-->
