<!DOCTYPE html>
<html>

<head>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navbar.ejs') %>
        <h1>
            <%= text %>
        </h1>

        <p>My first paragraph.</p>
</body>

</html>