<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="/styles/signup.css" />
    </head>

    <body>
        <%- include('includes/navbar.ejs') %>
        <div id="heading">
            <p class="h1">Welcome back to Homework Solutions</p>
            <p class="h2">
                Log in or <a href="/account/signup">create an account</a>
            </p>
        </div>
        <div id="fields">
            <form method="post">
                <label>Email</label>
                <input
                    type="email"
                    name="email"
                    value="<%=locals.form?.email%>"
                />
                <label>Password</label>
                <input type="password" name="password" />
                <p>
                    <span style="color: red"><%= locals.error %></span>
                </p>
                <button class="common-button" type="submit">Log in</button>
            </form>
        </div>
    </body>
</html>
