<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="styles/orders.css" />
    </head>

    <body>
        <%- include('includes/navbar.ejs') %>
        <div id="heading">
            <p class="h1">Current Orders</p>
        </div>
        <div id="current">
            <div>
                <p class="class">Geometry</p>
                <p class="desc">
                    Description of the assignment created by the person who
                    posted the request.
                </p>
                <p class="date">Due date: 11/19/22</p>
                <button class="common-button">See Offers</button>
            </div>
            <div>
                <p class="class">Geometry</p>
                <p class="desc">
                    Description of the assignment created by the person who
                    posted the request.
                </p>
                <p class="date">Due date: 11/19/22</p>
                <button class="common-button">See Offers</button>
            </div>
            <div>
                <p class="class">Geometry</p>
                <p class="desc">
                    Description of the assignment created by the person who
                    posted the request.
                </p>
                <p class="date">Due date: 11/19/22</p>
                <button class="common-button">See Offers</button>
            </div>
            <div>
                <p class="class">Geometry</p>
                <p class="desc">
                    Description of the assignment created by the person who
                    posted the request.
                </p>
                <p class="date">Due date: 11/19/22</p>
                <button class="common-button">See Offers</button>
            </div>
        </div>
        <div id="heading">
            <p class="h1">Past Orders</p>
            <p class="h2">You have no past orders.</p>
        </div>
    </body>
</html>
