<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="/styles/order.css" />
    </head>

    <body>
        <%- include('includes/navbar.ejs') %>
        <form method="post">
            <div id="top-bar">
                <p style="color: red"><%=locals.error%></p>
                <div>
                    <p class="heading">Class:</p>
                    <p class="class"><%=locals.class?.toUpperCase()%></p>
                </div>
                <div>
                    <p class="heading">Assignment Type:</p>
                    <select name="type">
                        <option value="Essay">Essay</option>
                        <option value="Paragraph">Paragraph</option>
                    </select>
                </div>
                <div>
                    <p class="heading">Assignment Details:</p>
                    <select name="details">
                        <option value="Writing">Writing</option>
                        <option value="Rewriting">Rewriting</option>
                        <option value="Editing">Editing</option>
                        <option value="Proofreading">Proofreading</option>
                        <option value="Problem Solving">Problem Solving</option>
                        <option value="Calculations">Calculations</option>
                    </select>
                </div>
                <div>
                    <p class="heading">Assignment Size:</p>
                    <input type="number" placeholder="# of Pages" name="size" />
                    <select name="spacing">
                        <option value="Double">Double Spaced</option>
                        <option value="Single">Single Spaced</option>
                    </select>
                </div>
                <div>
                    <p class="heading">Deadline:</p>
                    <input
                        type="date"
                        id="start"
                        name="deadline"
                        max="2025-12-31"
                    />
                </div>
                <div class="instructions">
                    <p class="heading">Instructions:</p>
                    <textarea
                        id="w3review"
                        name="instructions"
                        rows="20"
                        cols="50"
                        placeholder="List all the requirements for the assignment:
(feel free to attach google drive links with files/screenshots)"
                    ></textarea>
                </div>

                <button class="common-button" type="submit">
                    Submit your order
                </button>
            </div>
        </form>
    </body>
</html>
