@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');
:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --accent-color: #009320;
    --box-shadow-color: #ccc;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
p,
p2,
a,
button,
label,
textarea,
div {
    color: var(--dark-color);
    font-family: 'Rubik', sans-serif;
}

p {
    margin: 0%;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.common-button {
    border-radius: 15px;
    border: none;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: var(--light-color);
    font-size: 17px;
    cursor: pointer;
    padding: 3%;
}

.common-button.alt {
    background-color: var(--light-color);
    border: 2px solid var(--accent-color);
    color: var(--dark-color);
}

.common-button:hover {
    transform: scale(1.04);
    -moz-box-shadow: 3px 3px 5px 6px var(--box-shadow-color);
    -webkit-box-shadow: 3px 3px 5px 6px var(--box-shadow-color);
    box-shadow: 3px 3px 5px 2px var(--box-shadow-color);
}

.bold {
    font-weight: bold;
}
