@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');
:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --accent-color: #009320;
    --box-shadow-color: #ccc;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
p,
p2,
a,
button,
label {
    color: var(--dark-color);
    font-family: 'Rubik', sans-serif;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.common-button {
    border-radius: 15px;
    border: none;
    background-color: var(--accent-color);
    color: var(--light-color);
    font-size: 17px;
    cursor: pointer;
    padding: 3%;
}
